#aboutJumbo{
  display: flex;
  flex-wrap: wrap;
}

#aboutL1{
  width: 45%;
  margin: 2.5%;
  transition: 1s;
}

.accordionHeader:hover{
  border: @layer1 3px solid;
  transition: 0.2s;
  border-radius: 0;
}
.accordionHeader{
  transition: 0.2s;
  border: @layer3 1px solid;
  border-radius: 9px;
  width: 100%;
}

.toggleHolder{
  display: flex;
}

.cardHolder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutCard{
  background-color: @layer1;
  color: @layer4;
  width: 250px;
  margin: 15px;
}