#resumeHead{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#break{
  height: 1px;
  width: 100%;
  background-color: @layer4;
  margin-bottom: 15px;
}

.education{
  padding: 15px;
  p{
    text-align: right;
  }
}

.experience{
  margin-bottom: 50px;
}